body {
    background-color: bisque;
}

h2 {
    background-color: hotpink;
}

h1 {
    background-color: purple;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

button {
    background-color: black;
    color: white;
}

.btn {
    background-color: black;
    color: white;
}